# Installing Jupyter Notebook and Running the Code

1. In the command prompt go the the directory ~\Anaconda\Scripts.

2. Type 'pip install jupyter' and press enter

3. Wait for jupyter to finish installing

4. Change directory to the folder that contains the 'analysis.ipynb'

5. Type 'jupyter notebook'

6. Jupyter Notebook will open in your browser. Keep the command prompt window open as it needs to stay running while Jupyter Notebook is active.

7. Click on 'analysis.ipynb'

8. Click on 'Cell' and then select 'Run All'

9. When finished, click 'file' and then 'close and halt'

10. In the Home page click 'logout' and then press press 'ctrl + C' in the command prompt to end the session.

Please see this video [Install Jupyter Notebook on Windows 10](https://www.youtube.com/watch?v=otmWEEFysms&t=165s) if you are having any issues.